.middle2-container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center; flex: 1;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column; 

    

  }
.box{
    width: 1142px;
    height: 153px;
    top: 1878px;
    left: 389px;
    flex: 1;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
                
   margin-top: 600px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

  
   
}
  .heading {
   
justify-content: center;
display: flex;
align-items: center;
    font-family: 'Roboto', ;
    font-size: 42px;
    font-weight: 200;
    line-height: 48px;
  
    letter-spacing: 0px;
    text-align: center;
    

  }
  
  .description {
    width: 1142px;
    height: 81px;
    top: 1950px;
    left: 389px;
    opacity: 0.8;   
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center; 
    margin-top: 50px;
    
  }
  